<footer class="footer bg-primary text-white">
    <div class="footer__block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footer__block--logo">
                                {{ logo ?:footer.logo }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="footer__block--info">
                                <div class="contact-info">
                                    {{ adress?:footer.footerAddress }}
                                </div>
                                <div class="social-icon">
                                    <ul class="list-inline">
                                        {% if social %}
                                            {{ social }}
                                        {% else %}
                                            <li class="list-inline-item"><a href="#" tabindex="0"><i
                                                            class="fa fa-instagram" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" tabindex="0"> <i class="fa fa-facebook"
                                                                             aria-hidden="true"></i></a>
                                            </li>
                                            <li class="list-inline-item"><a href="#" tabindex="0"><i
                                                            class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item"><a href="#" tabindex="0"><i
                                                            class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        {% if links %}
                            {% for link in links %}
                                {{ link }}

                            {% endfor %}
                        {% else %}
                            <div class="col-6 col-sm-4">
                                <div class="footer__block___links">
                                    <ul>
                                        {% for link in footer.footerlink1 %}
                                            <li><a href="#">{{ link.link }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4">
                                <div class="footer__block___links">
                                    <ul>
                                        {% for link in footer.footerlink2 %}
                                            <li><a href="#">{{ link.link }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4">
                                <div class="footer__block___links">
                                    <ul>
                                        {% for link in footer.footerlink3 %}
                                            <li><a href="#">{{ link.link }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__btm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer__legal">
                        <p> {{ copyright ?:footer.copyright }}</p>

                        <div class="mada_logo">
                            {{ mada?:footer.mada }}
                        </div>


                        <div class="nav-legal">
                            <ul class="menu">
                                {% if footer_link %}
                                    {% for link in footer_link %}
                                        {% set first = loop.first ? 'first': null %}
                                        {% set class = loop.last ? 'last': first %}
                                        <li class=" leaf {{ class }}">
                                            {{ link }}
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="first leaf">
                                        <a href="#" title="">Emergency information</a>
                                    </li>
                                    <li class=" leaf">
                                        <a href="#" title="">Disclaimer & copyright</a>
                                    </li>
                                    <li class=" leaf">
                                        <a href="#" title="">Privacy</a>
                                    </li>
                                    <li class="last leaf">
                                        <a href="#" title="">Site map</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
