<div class="accordion-item" style="background-image: url({{ media }});">
    <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{ 'flush-collapse-image'~paragraph.id() }}" aria-expanded="false"
                aria-controls="{{ 'flush-collapse-image'~paragraph.id() }}">
            {{ title }}
        </button>
    </h2>
    <div id="{{ 'flush-collapse-image'~paragraph.id() }}" class="accordion-collapse collapse"
         aria-labelledby="flush-headingOne"
         data-bs-parent="#accordionFlushImage">
        <div class="accordion-body">
            {{ description }}
            {% if link %}
                <div class="h-btn h-btn-link-primary">
                    {{ link }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
