<h5 class="mb-4 mt-4">Default Button</h5>
<ul class="col-row">
  <li>
    <button type="button" class="h-btn {{ variant }}">
      {{ button_title }}
    </button>
  </li>
  <li>
    <button type="button" class="h-btn h-btn-outline {{ variant }}">
      {{ button_title }}
    </button> 
</li>
  <li> 
      <button type="button" class="h-btn h-btn-link {{ variant }}">
        {{ button_viewmore }} <i class="fa-solid fa-arrow-right"></i>
      </button>
  </li>
</ul>
<hr />
<h5 class="mb-4 mt-4">Default Button Disabled</h5>
<ul class="col-row">
  <li>
    <button type="button" disabled class="h-btn {{ variant }}">
      {{ button_title }}
    </button>
  </li>
  <li>
    <button type="button" disabled class="h-btn h-btn-outline {{ variant }}">
      {{ button_title }}
    </button> 
</li>
  <li> 
      <button type="button" disabled class="h-btn h-btn-link {{ variant }}">
        {{ button_viewmore }} <i class="fa-solid fa-arrow-right"></i>
      </button>
  </li>
</ul>
<hr />
<h5 class="mb-4 mt-4">Normal Button</h5>
<ul class="col-row">
  <li>
    <button type="button" class="h-btn h-btn-primary {{ variant }}">
      {{ button_title }}
    </button> 
  </li>
  <li> 
    <button type="button" class="h-btn h-btn-outline-primary {{ variant }}">
      {{ button_title }}
    </button>
  </li>
<li> 
    <button type="button" class="h-btn h-btn-link-primary {{ variant }}">
      {{ button_viewmore }} <i class="fa-solid fa-arrow-right"></i>
    </button>
  </li>
</ul>
<hr/>
<h5 class="mb-4 mt-4">Normal Button Disabled</h5>
<ul class="col-row">
  <li>
    <button type="button" disabled class="h-btn h-btn-primary {{ variant }}">
      {{ button_title }}
    </button> 
  </li>
  <li> 
    <button type="button" disabled class="h-btn h-btn-outline-primary {{ variant }}">
      {{ button_title }}
    </button>
  </li>
<li> 
    <button type="button" disabled class="h-btn h-btn-link-primary {{ variant }}">
      {{ button_viewmore }} <i class="fa-solid fa-arrow-right"></i>
    </button>
  </li>
</ul>

