<div class="eventList__item">
  <a href="{{ url }}" target="_blank">
    <div class="eventList__item--img">
      {{ img }}
    </div>
    <div class="eventList__item--date">
      <div class="eventDate">
        {{ date_start }}
      </div>
      <div class="eventDate">
        {{ date_end }}
      </div>
    </div>
    <div class="eventList__item--tag">{{ tag }}</div>
    <div class="eventList__item--entity">{{ entity }}/div>
      <h4 class="eventList__item--title">{{ title }}</h4>
  </a>
</div>

