<div class="col-sm-12">
    <div class="slider__detail">
        <div class="eventInfo">
            {% if date_start %}
                <div class="item_date">
                    {{ (date_start) }}
                    {{ date_end }}
                </div>
            {% endif %}
            <div class="item_info">
                <h3>{{ label }}</h3>
                <a href="{{ url }}" class="h-btn h-btn-link-primary">{{ 'Read more'|t }}</a>
            </div>
        </div>
    </div>
</div>
